body {
    padding: 0;
    margin: 0;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 150px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;
}